.kasa-banner{ 
    @include center;
    justify-content: center;
    width: 90%;
    margin: auto;

    &--text { 
        position: absolute; 
        width: 100%;
        text-align: center;
        font-size: 50px;
        color: $secondary_color;
        font-weight: $text_weight;
    }
    &--img{
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
        filter: brightness(.9);
    }
 }

@media(max-width:912px) {
    .kasa-banner{
        width: 100%;
        
    }
}
 
@media(max-width : 767px) {
    .kasa-banner{
        height: 111px;
        width: 335px;
        border-radius: 10px;
        &--text { 
            @include default_text_style;
            width: 217px;
            color: $secondary_color;
        }
        &--img{
            width: 100%;
            height: 111px;
            border-radius: 25px;
            object-fit: cover;
            filter: brightness(.9);
            border-radius: 10px;
        }

    }
}