.card-container{
    background-color: lightgray;
    border-radius: 25px;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    .clickable-card {
        margin: auto;
        overflow: hidden;
        position: relative;
        
        .card-img
        {
            width: 340px;
            height: 340px;
            object-fit: cover;
            border-radius: 10px;
        }

        .card-title {
            width: 200px;
            position: absolute;
            font-family: $text_police;
            font-size: 18px;
            font-weight: 500;
            color: #f6f6f6;
            z-index: 1;
            bottom: 25px;
            margin-left: 10px;
        }
        
        .card-overlay{
            box-shadow: -1px -81px 84px -37px rgba(0, 0, 0, 1);
            z-index: 3;
        }
    }
}

