.dropdowns__items{
    @extend .flex;
    @extend .column;
    width: 70%;
    margin: 20px;
    
    &--title{
        @include center;
        @include default_text_style;
        justify-content: space-between;
        background-color: $primary_color;
        color:$quaternary_color;
        border:none;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        height: 50px;
    }
    &--description{
        background-color: #f7f7f7;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: $text_size;
        font-weight: 400;
        color: $primary_color;
        list-style: none; 
    }
}


.rotate{
    transform: rotate(180deg);
}