.Profile{
    @include center;
    
    &-text p {
        font-size: 18px;
        font-weight: $text_weight;
        color: $primary_color;
    }
    &-picture , img{
        width: 64px;
        height: 64px;
        border-radius:50%;
    }
}