.rate-container{
    @include center;
    list-style: none;
    justify-content: end;
    .Star-item{
        @include center;
        justify-content: center;
        font-size: 30px;
        width: 30px;
        height: 30px;

        
    }
    .red{
        color: $primary_color;
    }
    .grey{
        color: $quaternary_color;
    }
}