.tags-container{
 @extend .flex;
 flex-wrap: wrap;
 .tags-item{
    list-style: none;
    margin-top: 5px;
    margin-right:15px;
    text-align: center;
    width: 150px;
    padding: 5px;
    height: 25px;
    font-family: $text_police;
    border-radius: 25px;
    font-weight: $text_weight;
    font-size: 14px;
    background-color: $primary_color;
    color: $secondary_color;
}
}