.tags-container{
 display: flex;
 .tags-item{
    list-style: none;
    margin-right:20px;
    text-align: center;
    width: 150px;
    padding: 5px;
    height: 25px;
    font-family: $text_police;
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    background-color: $primary_color;
    color: $secondary_color;
}
}