.kasa-banner{ 
    width: 100%; /* for IE 6 */
    display: flex;
    justify-content: center;
    align-items: center;

    &--text { 
        position: absolute; 
        font-size: 50px;
        font-family: $text_police;
        color: $secondary_color;
        font-weight: normal;
    }
    &--img{
        border-radius: 25px;
        object-fit: cover;
        filter: brightness(.9);
    }
 }
 
