footer{
    @include center;
    background-color: $tertiary_color;
    @extend .column;
    justify-content: space-around;
    p{
        color: $secondary_color;
    }
    figure{
        padding-top: 20px;
    }
}