header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    figure {
        margin: 0;
        display: flex;
        svg{
            width:80%;
        }
    }

    nav{
        display: flex;
        a{
            color: $primary_color;
            font-size: $text_size;
            font-family: $text_police;
            padding-right: 10px;

        } 
    }
}

@media(max-width: 767px){
header{
    nav a{
        color: $primary_color;
        font-size: 12px;
        font-family: $text_police;
        padding-right: 10px;
    }
}
}
