.product__dropdowns{
    @extend .flex;
}

.Info-container{
    @extend .flex;
    justify-content: space-between;
}
.profile_rate_container{
    @include center;
    @extend .column;
    justify-content: center;
}

.title_tags_container{
    @extend .flex;
    @extend .column;
    
}

@media (max-width:767px) {
    .Info-container{
        flex-direction: column;
        justify-content: space-between;
    }

    .profile_rate_container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .product__dropdowns{
        display: flex;
        flex-direction: column;
    }

    .dropdowns__items{

        width: 90%;
    }
}