.product__dropdowns{
    display: flex;
}

.rate_tag_container{
    display: flex;
    justify-content: space-between;
}

.title_profile_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}